<div ng-include="'components/partials/navbar-primary/navbar-primary.html'"></div>

<div class="container">
 <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  <div class="row">
    <div class="center-form panel">
      <div class="panel-body">
        <h2 class="text-center">Зарегистрироваться</h2>
        <form method="post" ng-submit="register(signupForm)" name="signupForm">
          <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.displayName.$invalid && signupForm.displayName.$dirty }">
            <input class="form-control input-lg" type="text" name="displayName" ng-model="name" placeholder="Имя" required autofocus>
            <span class="ion-person form-control-feedback"></span>
            <div class="help-block text-danger" ng-if="signupForm.displayName.$dirty" ng-messages="signupForm.displayName.$error">
              <div ng-message="required">Введите имя.</div>
            </div>
          </div>
          <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.email.$invalid && signupForm.email.$dirty }">
            <input class="form-control input-lg" type="email" id="email" name="email" ng-model="email" placeholder="Емайл" required ng-pattern="/^[A-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
            <span class="ion-at form-control-feedback"></span>
            <div class="help-block text-danger" ng-if="signupForm.email.$dirty" ng-messages="signupForm.email.$error">
              <div ng-message="required">Введите адрес.</div>
              <div ng-message="pattern">Введите правильный емайл.</div>
            </div>
          </div>
          <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.password.$invalid && signupForm.password.$dirty }">
            <input password-strength class="form-control input-lg" type="password" name="password" ng-model="password" placeholder="Пароль" required>
            <span class="ion-key form-control-feedback"></span>
            <div class="help-block text-danger" ng-if="signupForm.password.$dirty" ng-messages="signupForm.password.$error">
              <div ng-message="required">Введите пароль.</div>
            </div>
          </div>
          <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.confirmPassword.$invalid && signupForm.confirmPassword.$dirty }">
            <input password-match="password" class="form-control input-lg" type="password" name="confirmPassword" ng-model="confirmPassword" placeholder="Подтвердить пароль">
            <span class="ion-key form-control-feedback"></span>
            <div class="help-block text-danger" ng-if="signupForm.confirmPassword.$dirty" ng-messages="signupForm.confirmPassword.$error">
              <div ng-message="compareTo">Пароль не совпадает.</div>
            </div>
          </div>
          <button type="submit" ng-disabled="signupForm.$invalid" class="btn btn-lg btn-block btn-primary">Зарегистрироваться</button>
          <br/>
          <p class="text-center text-muted">Уже есть аккаунт? <a href="/login">Войти</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>

<div ng-include="'components/partials/footer/footer.html'"></div>

