<div ng-include="'components/partials/navbar-main/navbar-main.html'"></div>
<div ng-include="'components/partials/header/header.html'"></div>
<div class="container">
  <br>
  <div class="row">
    <div class="col-sm-12">
      <div class="input-group">
        <input type="text" class="form-control" ng-model="search" placeholder="Найти...">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">Найти!</button>
          </span>
      </div>
    </div>
  </div>
  <br>
  <div id="content">
      <div id="ideas-container" class="col-sm-6">
          <ul id="ideas">
              <li class="idea" ng-repeat="idea in ideas | filter:search | orderBy:'rating':true">
                <div idea></div>
              </li>
          </ul>
      </div>
      <div id="map-container" class="col-sm-6">asd</div>
  </div>

</div>
<div ng-include="'components/partials/footer/footer.html'"></div>
