<div ng-include="'components/partials/navbar-main/navbar-main.html'"></div>
<div ng-include="'components/partials/header/header.html'"></div>
<div class="container">
  <br>
  <div class="row">
    <div class="col-sm-12">
      <div class="input-group">
        <input type="text" class="form-control" ng-model="search" placeholder="Найти...">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">Найти!</button>
          </span>
      </div>
    </div>
  </div>
  <br>
  <div id="content">
      <div id="ideas-container" class="col-sm-6">
          <ul id="ideas">
              <li class="idea" ng-repeat="idea in ideas | filter:search | orderBy:'rating':true">
                  <span class="pull-left">
                     <img width="100" height="100" class="img-circle" alt="User Avatar" ng-src="{{idea.images[0] && '/api/v1/uploads/' + idea.images[0].name || 'http://placehold.it/100/55C1E7/fff'}}">
                  </span>
                  <span class="pull-right">
                      <div ng-click="up(idea)"><a href="#"><i class="fa fa-angle-up"></i></a></div>
                      <div>{{idea.rating}}</div>
                      <div ng-click="down(idea)"><a href="#"><i class="fa fa-angle-down"></i></a></div>
                  </span>
                  <strong class="primary-font"><a ng-href="/idea/{{idea._id}}">{{idea.summary}}</a></strong>
                  <p class="description">{{idea.description}}</p>
                  <small class="pull-left text-muted idea-date">
                      <i class="fa fa-clock-o fa-fw"></i><time-ago from-time='{{idea.created}}'></time-ago>
                  </small>
                  <span class="clearfix"></span>
              </li>
          </ul>
      </div>
      <div id="map-container" class="col-sm-6">asd</div>
  </div>

</div>
<div ng-include="'components/partials/footer/footer.html'"></div>
