<div ng-include="'components/partials/navbar-primary/navbar-primary.html'"></div>
<div class="container">
	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
	<form class="form-horizontal" name="form" role="form" novalidate>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">{{idea.summary}}</h3>
			</div>
			<div class="panel-body">
				<div class="col-md-10">
					<div class="form-group">
						<label class="col-sm-2 col-md-2 control-label">Идея</label>
						<div class="col-sm-10 col-md-10" ng-if="isOwner() || isAdmin()">
							<input type="text" class="form-control" id="summary" name="summary" placeholder="Идея" ng-model="idea.summary" required>
							<p class="help-block" ng-show="form.mileage.$error.required && submitted">
								Введите идею.
							</p>
						</div>
						<div class="col-sm-10 col-md-10" ng-if="!isOwner() && !isAdmin()">
							<p class="form-control-static">{{idea.summary}}</p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 col-md-2 control-label">Описание</label>
						<div class="col-sm-10 col-md-10" ng-if="isOwner() || isAdmin()">
							<textarea class="form-control" rows="3" id="description" name="description" placeholder="Описание" ng-model="idea.description" required></textarea>
							<p class="help-block" ng-show="form.description.$error.required && submitted">
								Введите описание.
							</p>
						</div>
						<div class="col-sm-10 col-md-10" ng-if="!isOwner() && !isAdmin()">
							<p class="form-control-static">{{idea.description}}</p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 col-md-2 control-label">Создано</label>
						<div class="col-sm-10 col-md-10">
							<p class="form-control-static">{{idea.created | date: 'medium'}}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-footer">
		        <div class="row">
		          <div class="col-sm-1 col-md-1">
		            <a class="btn btn-default" href="javascript:history.back()">
		              <span class="glyphicon glyphicon-arrow-left"></span> Назад
		            </a>
		          </div>
		          <div class="col-sm-4 col-md-4 col-sm-offset-4">
					<button type="button" ng-if="isOwner() || isAdmin()" class="btn btn-primary" ng-click="update(form)">
						<span class="glyphicon glyphicon-ok"></span> Обновить
					</button>
					<button type="button" ng-if="isOwner() || isAdmin()" class="btn btn-default" ng-click="delete()">
						<span class="glyphicon glyphicon-remove"></span> Удалить
					</button>
		          </div>
		        </div>
			</div>
		</div>
	</form>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Комментарии</h3>
		</div>
		<div class="panel-body">
			Комментарии
		</div>
	</div>
</div>
<div ng-include="'components/partials/footer/footer.html'"></div>