<div class="navbar navbar-primary navbar-static-top" ng-controller="NavbarPrimaryCtrl">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand"> <i class="fa fa-child"></i> У меня есть идея</a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a ng-href="#page-top"></a>
        </li>
        <li ng-show="isLoggedIn()">
          <button type="button" class="btn btn-warning navbar-btn" ng-click="addIdea()">Добавить идею</button>
        </li>
        <li ng-hide="isLoggedIn()"><a href="/login">Вход</a>
        </li>
        <li ng-show="isLoggedIn()" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ getCurrentUser().name }} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li ng-class="{active: isActive('/account')}"><a href="/account">Профайл</a>
            </li>
            <li ng-class="{active: isActive('/my')}"><a href="/my">Мои идеи</a>
            </li>
            <li ng-show="isAdmin()"><a href="/users">Пользователи</a>
            </li>
          </ul>
        </li>
        <li ng-show="isLoggedIn()"><a href="" ng-click="logout()">Выход</a>
        </li>
      </ul>
    </div>
  </div>
</div>
