<div class="navbar navbar-main navbar-fixed-top" ng-controller="NavbarMainCtrl">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top">
        <i class="fa fa-child"></i>  <span class="light">У меня есть идея!</span>
      </a>
    </div>
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a ng-href="#page-top"></a>
        </li>
        <li ng-show="isLoggedIn()">
          <button type="button" class="btn btn-warning navbar-btn" ng-click="addIdea()">Добавить идею</button>
        </li>
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Вход</a>
        </li>
        <li ng-show="isLoggedIn()" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ getCurrentUser().name }} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li ng-class="{active: isActive('/account')}"><a href="/account">Профайл</a>
            </li>
            <li ng-class="{active: isActive('/my')}"><a href="/my">Мои идеи</a>
            </li>
            <li ng-show="isAdmin()" ng-class="{active: isActive('/users')}"><a href="/users">Пользователи</a>
            </li>
          </ul>
        </li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Выход</a>
        </li>
      </ul>
    </div>

  </div>
</div>

